In [9]:
import numpy as np
import pandas as pd

# creating three arrays using the numpy using random numbers
data1 = np.random.randint(1,10,5)
data2 = np.random.randint(1,10,5)
data3 = np.random.randint(1,10,5)
# print(data1)
# print(data2)
# print(data3)

# creating series from that three arrays and giving them index of [a,b,c,d,e]
data1 = pd.Series(data1,index=['a','b','c','d','e'])
data2 = pd.Series(data2, index=['a','b','c','d','e'])
data3 = pd.Series(data3,index=['a','b','c','d','e'])
# print(data1)
# print(data2)
# print(data3)


# creating a dictionary named data using the data1,data2,data3
data = {'one': data1, 'two':data2 , 'three':data3}
data


# creating a dataframe using that dictionary
df = pd.DataFrame(data)
# df1.iloc[0:1,1:2]
df.loc['a'][1]=5
df


# assigning a column to that dataframe
df['five']=df['one']*df['two']
df

   one  two  three  five
a    4    5      4    20
b    2    5      6    10
c    1    3      3     3
d    3    7      4    21
e    9    8      3    72